h1 {
    color: #ffffff;
    text-align: center;
}

p {
    max-width: 800px;
    line-height: 1.6;
}

section {
    margin-bottom: 40px;
}


.studyModule{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.5rem;
    
    padding: 20px;
    border-radius: 20px;
    border: gray 1px solid;
}

